html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 10px;
    font-size: 1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-family:helvetica Arial serif;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    /*margin: 0,0,1.5em; avec margin ont peut diriger les 4 cotés*/
    color: #454545;
    font-weight: bold;
}
p{
    color: #7a7a7a;
    margin-left: 20px;
    margin-bottom: 1.5em;
}
blockquote{
    font-size: 1.2em;
    margin-right: 80px;
    margin-left: 60px;
    margin-bottom: 20px;
    background: #e7f2fa;
    color: #444;
    border-left: solid 5px #8870FF;
    padding: 15px;
}
em{
    display: block;
    text-align: right;
}
a{
    color: #8870FF;
    margin-left: 20px;
}